.ViewSingleEventContainer{
    background-color: #FFD151;
    border: solid black 5px;
    border-radius:25px;
    min-height:100rem;
    display: flex;
    flex-direction:column;
    align-items:center;

  }
  .Title{
    font-size:4rem;
    margin-top:1%;
    
  }
  .Date{
    font-size:3rem;
  }
  .EventImage{
    border-radius:25px;
    width:20%;
    /* border:solid 15px #68577C;
    box-shadow: 7px 10px 0px #68577C; */
   
  }
.Description{
  width:70rem;
  line-height:1.5em;
  margin-top:5%;
  margin-bottom:5%;
}
