.WikiEventsContainer{
    display:flex;
    text-align:center;
    align-items:center;
    flex-direction:column;
    background-color: #E0A458;
    border: solid black 5px;
    border-radius:25px;
    min-height:100rem;
    padding:2%;  
}
.Button{
    border-radius:15px;
    background-color:#FFD151;
    color:black;
    border:none;
    font-size:1.2rem;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    transform-origin:center; /* Set transform origin to center */
}
.Button:hover{
    background-color:#68577C !important;
    color:#FAF9F6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.Button:active{
    background-color:#68577C;
    color:#FAF9F6;
}
.Button:focus{
    background-color:#68577C;
    color:#FAF9F6;
}
.Title{
    font-size:5rem;
}
.SearchBarDiv{
    font-size:1.1rem;
}
.SearchBar{
    border-radius:25px;
    width:50rem;
    padding:1%;
    border:none;
    background-color:#FAF9F6;
    
    
}
.SearchBar::placeholder {
    font-size: 1.4rem;
    
     /* Your desired font size */
  }
.SearchBarDiv input:focus {
    border: none; /* Your desired focus style */
}

/* Style the input inside .SearchBar when it's active (e.g., clicked) */
.SearchBarDiv input:active {
    border: none; /* Your desired active style */
}
.SearchBarButton{
    border-radius:25px;
    width:10rem;
    background-color:#FFD151;
    color:black;
    font-size:1.3rem;
    border:none;
}
.SearchBarButton:hover{
    background-color:#68577C !important;
    color:#FAF9F6;
}
/* ARTICLE */

.ArticleTitle{
    font-size:4rem;
    margin-top:3%;
}
