@keyframes slideInBottom {
  from{
    transform:translateY(500px);
  }
  to{
    transform:translateY(0);
  }
}


.Card{
  background-color:#FFD151;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
  border-radius:25px;
  font-size:2rem;
  color:black;
  width:25rem;
  height:32rem;
  animation: slideInBottom .7s ease;
  text-align:center;
  
}
.Card:hover{
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.CardBody{
  background-color:#FFD151;
   
}
.CardHeader{
  font-size: 2rem;
  white-space: nowrap; /* Prevent title from wrapping to a new line */
  overflow:hidden;
  padding:5%;
  line-height:.1rem;
  text-overflow: ellipsis; 
  

 
}
.CardTitle{
  font-size: 2rem;
  white-space: nowrap; /* Prevent title from wrapping to a new line */
  overflow:hidden;
  padding:5%;
  line-height:.1rem;
  text-overflow: ellipsis; 
}
.CardImage{
  height:15rem;
 
  max-height:15rem;
  object-fit:cover;
  border-radius:25px;
}
.CardPublicPrivate{
  font-size:1.2rem;
}
.CardFooter{
  font-size:1.7rem;
  white-space: nowrap; /* Prevent title from wrapping to a new line */
  height: 3rem;
  overflow:hidden;
  line-height:.05rem;
  text-overflow: ellipsis; 
  padding:1rem;
}
.Button{
  border-radius:10px;
  background-color:#68577C;
  color:#FAF9F6;
  font-size:1.5rem;
  margin:1.5%;
  border:none;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
}
.Button:hover{
  background-color:#E0A458;
  color:#FAF9F6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.Button:active {
  background-color: #E0A458 !important;
  color: #FAF9F6;
}
