.ThreadPageContainer{
    display:flex;
    text-align:center;
    align-items:center;
    flex-direction:column;
    background-color: #E0A458;
    border: solid black 5px;
    border-radius:25px;
    min-height:100rem;   
}