@import 'bootstrap/dist/css/bootstrap.css';
@keyframes slideInRight {
  from{
    transform:translateX(500px);
    opacity:.05;
  }
  to{
    transform:translateX(0);
    opacity:1;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
input[type="checkbox"]:checked {
  /* Add your desired styles here */
  background-color: #68577C; /* Change to your preferred color */
  border-color: #68577C; /* Change to your preferred color */
  color: #FFF; /* Change to your preferred color */
}
/* Change the color of checked switches (Bootstrap's switch uses the "switch" class) */
.switch input[type="checkbox"]:checked + .slider {
  background-color: #68577C;
  border-color:#68577C /* Change to your preferred color */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
body::-webkit-scrollbar {
  display: none;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width:none;
  height:100%;
  max-height:none;
  scroll-behavior: smooth;
}
/* NAV BAR */
.navbar{
  border:solid black 5px;
  border-radius:25px;
  background-color: #FAF9F6;
  position:static;
  height:7.8rem;
  
}
.NavBar-Title{
  font-size:3rem;
}
.navBarLogo {
  width: 7rem;
  border: double black 10px;
  border-radius: 100%;
  padding: 2%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
}

.navBarLogo:hover {
  width: 7rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  background-color: #E0A458;
}
.off-canvas-container{
  background-color: #FAF9F6;
  display:flex;
  
}
.OffCanvas-title{
  font-size:2.2rem;
  margin-bottom:3%;
}
.OffCanvas-user-image{
  margin-left:18%;
border-radius:25px;
width:15rem;
max-height:10rem;
object-fit:cover
}
.OffCanvas-username{
  margin-left:5%;
  font-size:3.1rem;
}
.sign-out-button{
  margin-left:15%;
  background-color:#E0A458;
  color: #FAF9F6;
  border:none;
  font-size:2rem;
  width:70%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
}
.sign-out-button:hover{
  background-color:#68577C;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.NavLinkList{
  margin-bottom:10%;
}
.NavLink{
  margin-left:4%;
  font-size:2.7rem;
  transition: transform 0.3s ease, text-shadow 0.5s ease;
  transform-origin:right; /* Set transform origin to center */
}
#NavLink1{
  animation:slideInRight  .5s ease-in; 
}
#NavLink2{
  animation:slideInRight  .55s ease-in; 
}
#NavLink3{
  animation:slideInRight  .6s ease-in; 
}
#NavLink4{
  animation:slideInRight  .65s ease-in; 
}
#NavLink5{
  animation:slideInRight  .7s ease-in; 
}
#NavLink6{
  animation:slideInRight  .75s ease-in; 
}
#NavLink7{
  animation:slideInRight  .8s ease-in; 
}
#NavLink8{
  animation:slideInRight  .85s ease-in; 
}
#NavLink9{
  animation:slideInRight  .9s ease-in; 
}
#NavLink10{
  animation:slideInRight  .95s ease-in; 
}
.NavLink:hover{
  
  transform: scale(1.08);
  font-weight:600;
  
}

/* HOME PAGE */


.homePageTitleDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.homePageLogo {
  width: 50%;
  border-radius: 100%;
  border:double black 25px;
  padding-top:2%;
}
.homePageTitle{
font-size:5rem;
}
.gallery-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60em;
  position:fixed;
   /* Set a fixed height for the container */
}


.carousel-card-container {
  width:50em;
  border:solid black 5px;
  border-radius:2%;
}
.carousel-image{
  object-fit: contain;
  max-width:auto;
  max-height:50em;
  width:100%;
  height:100%;
}
  .carousel-control-prev, .carousel-control-next {
    margin: 0px;
    color:white;
    position:fixed;
  }
  .carousel-indicators {
    margin: -30px;
    color:white;
    font-size:2rem;
  }
  
  .carousel-control-prev-icon{
    border-radius:25px;
    border:solid 2px white;
    width:4rem;
    height:4rem;
  }
  
  .carousel-control-next-icon{
    
    border-radius:25px;
    border:solid 3px white;
    width:4rem;
    height:4rem;
  
  }
