@import 'bootstrap/dist/css/bootstrap.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
}
body::-webkit-scrollbar {
  display: none;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width:none;
  height:100%;
  max-height:none;
  scroll-behavior: smooth;
}
.NavLink{
  font-size:50px;
}
.navbar{
  /* border:solid orange 2px; */
}
.gallery-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60em;
  position:fixed;
   /* Set a fixed height for the container */
  
}

.carousel-card {
  width:50em;


}
.carousel-image{
  object-fit: contain;
  max-width:auto;
  max-height:50em;
  width:100%;
  height:100%;
}
  .carousel-control-prev, .carousel-control-next {
    margin: -100px;
    color:white;
    position:fixed;
  }
  .carousel-indicators {
    margin: -30px;
    color:white;
    font-size:3rem;
  }
  
  .carousel-control-prev-icon{
    background-color:rgb(149,69,178);
    border-radius:25px;
    border:solid 2px white;
    width:6rem;
    height:6rem;
  }
  
  .carousel-control-next-icon{
    background-color:rgb(149,69,178);
    border-radius:25px;
    border:solid 2px white;
    width:6rem;
    height:6rem;
  
  }
