@import 'bootstrap/dist/css/bootstrap.css';
@keyframes slideInRight {
  from{
    transform:translateX(500px);
    opacity:.05;
  }
  to{
    transform:translateX(0);
    opacity:1;
  }
}
@keyframes bg-animation {
  0%{
    background-position:left;
  }
  100%{
    background-position:right;
  }
}
@keyframes slideInBottom {
  from{
    transform:translateY(500px);
  }
  to{
    transform:translateY(0);
  }
}
@keyframes slideInTop {
  from{
    transform:translateY(-500px);
  }
  to{
    transform:translateY(0);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
input[type="checkbox"]:checked {
  /* Add your desired styles here */
  background-color: #68577C; /* Change to your preferred color */
  border-color: #68577C; /* Change to your preferred color */
  color: #FFF; /* Change to your preferred color */
}
/* Change the color of checked switches (Bootstrap's switch uses the "switch" class) */
.switch input[type="checkbox"]:checked + .slider {
  background-color: #68577C;
  border-color:#68577C /* Change to your preferred color */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}
body::-webkit-scrollbar {
  display: none;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  max-width:none;
  height:100%;
  max-height:none;
  scroll-behavior: smooth;
}
/* NAV BAR */
.navbar{
  border:solid black 5px;
  border-radius:25px;
  background-color: #FAF9F6;
  position:static;
  height:7.8rem;
  
}
.NavBar-Title{
  font-size:3rem;
}
.navBarLogo {
  width: 7rem;
  border: double black 10px;
  border-radius: 100%;
  padding: 2%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
}

.navBarLogo:hover {
  width: 7rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  background-color: #E0A458;
}
.off-canvas-body::-webkit-scrollbar {
  display: none;
}
.off-canvas-container{
  background-color: #FAF9F6;
  display:flex;
  
}
.OffCanvas-title{
  font-size:2.2rem;
  margin-bottom:3%;
}
.OffCanvas-user-image{
  margin-left:18%;
border-radius:25px;
width:15rem;
max-height:10rem;
object-fit:cover
}
.OffCanvas-username{
  margin-left:5%;
  font-size:3.1rem;
}
.sign-out-button{
  margin-left:15%;
  background-color:#E0A458;
  color: #FAF9F6;
  border:none;
  font-size:2rem;
  width:70%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
}
.sign-out-button:hover{
  background-color:#68577C;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.NavLinkList{
  margin-bottom:10%;
}
.NavLink{
  margin-left:4%;
  font-size:2.7rem;
  transition: transform 0.3s ease, text-shadow 0.5s ease;
  transform-origin:right; /* Set transform origin to center */
}
#NavLink1{
  animation:slideInRight  .5s ease-in; 
}
#NavLink2{
  animation:slideInRight  .55s ease-in; 
}
#NavLink3{
  animation:slideInRight  .6s ease-in; 
}
#NavLink4{
  animation:slideInRight  .65s ease-in; 
}
#NavLink5{
  animation:slideInRight  .7s ease-in; 
}
#NavLink6{
  animation:slideInRight  .75s ease-in; 
}
#NavLink7{
  animation:slideInRight  .8s ease-in; 
}
#NavLink8{
  animation:slideInRight  .85s ease-in; 
}
#NavLink9{
  animation:slideInRight  .9s ease-in; 
}
#NavLink10{
  animation:slideInRight  .95s ease-in; 
}
.NavLink:hover{
  
  transform: scale(1.08);
  font-weight:600;
  
}

/* HOME PAGE */


.homePageTitleDiv{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}
.homePageLogo {
  width: 60%;
  border-radius: 100%;
  border:double black 25px;
  padding-top:2%;
  background: radial-gradient(circle, 
  rgba(250, 249, 246, 0.7),
  rgba(250, 249, 246, 0.7),

  rgba(224, 164, 88, 0.7),
  rgba(224, 164, 88, 0.7), /* Color 1 with 70% opacity */
  rgba(255, 209, 81, 0.7),
  rgba(255, 209, 81, 0.7), /* Color 2 with 70% opacity */
   /* Color 3 with 70% opacity */
  rgba(104,87, 124, 0.7), 
  rgba(104,87, 124, 0.7),
  rgba(104,87, 124, 0.7)/* Color 4 with 70% opacity */
) fixed;
  background-size:800%;
  animation: bg-animation 25s linear infinite alternate-reverse;
}

.homePageTitle{
font-size:8rem;
}

/* GALLERY */
.carousel-page-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;

}
.gallery-title{
bottom:px;
}
.gallery-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:60rem;
  height:20rem;
  position:fixed;
  overflow:visible;
   /* Set a fixed height for the container */
}


.carousel-card-container {
  width:100%;
  border-radius:2%;
  margin-left:27%;
  text-align:center;
  justify-content:center;
  align-items:center;
  padding:2rem;
  overflow:visible;
}

.carousel-control-prev, .carousel-control-next {
  margin: 0px;
  color:white;
  position:fixed;
}
.carousel-indicators {
  top:30rem;
  color:white;
  font-size:2rem;
  margin-top:-50px;
}

.carousel-control-prev-icon{
  border-radius:25px;
  border:solid 2px white;
  width:4rem;
  height:4rem;
}

.carousel-control-next-icon{
  
  border-radius:25px;
  border:solid 3px white;
  width:4rem;
  height:4rem;

}
/* FOLLOWED USER THREADS */

.followed-thread-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.followed-thread-title{
  font-size:5rem;
  color:#FAF9F6;
}
.followed-thread-card-div::-webkit-scrollbar {
  display: none;
}
.followed-thread-card-div{
  display:flex;
  flex-direction:row;
  align-items:center;
  overflow-x:scroll;
  padding:5rem;
  width:100rem;
  text-align:center;
  margin-left:10%;

}
/* FOLLOWED USER TIMELINES */
.followed-timeline-card-div::-webkit-scrollbar {
  display: none;
}
.followed-timeline-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.followed-timeline-title{
  font-size:5rem;
  color:black;
}
.followed-timeline-card-div{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  overflow-y:scroll;
  padding:5rem;
  height:40rem;
  text-align:center;
  margin-left:10%;

}
.followed-timeline-card{
  margin-bottom:1rem;
  width:30%;
}

/* SIGN IN PAGE */

.SignInPageContainer{
  background-color:#E0A458;
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100vh;
  padding-top:7%;
}
.SignInPageLogo{
  width: 60%;
  border-radius: 100%;
  border:double black 25px;
  padding-top:2%;
  background: radial-gradient(circle, 
  rgba(250, 249, 246, 0.7),
  rgba(250, 249, 246, 0.7),

  rgba(224, 164, 88, 0.7),
  rgba(224, 164, 88, 0.7), /* Color 1 with 70% opacity */
  rgba(255, 209, 81, 0.7),
  rgba(255, 209, 81, 0.7), /* Color 2 with 70% opacity */
   /* Color 3 with 70% opacity */
  rgba(104,87, 124, 0.7), 
  rgba(104,87, 124, 0.7),
  rgba(104,87, 124, 0.7)/* Color 4 with 70% opacity */
) fixed;
  background-size:800%;
  animation: bg-animation 25s linear infinite alternate-reverse, slideInTop .9s ease;
}
.SignInPageTitle{
  font-size:6rem;
  animation:slideInTop .9s ease;
}
.SignInPageButton{
  background-color:#68577C;
  color: #FAF9F6;
  border:none;
  font-size:2rem;
  width:40%;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  transform-origin:center; /* Set transform origin to center */
  animation:slideInBottom .9s ease;
}
.SignInPageButton:hover{
  background-color:#FFD151;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color:black;
}
/* UTILITY */
.accordion-button {
  /* Add your custom styles here */
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  /* Add any other styles you want to customize */
}

/* Style the active .accordion-button */
.accordion-button:focus,
.accordion-button:active {
  /* Add your custom styles for the active state */
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  /* Add any other styles for the active state */
}

:root {
  --bs-accordion-btn-focus-border-color: unset; /* Reset the color to its default */
  --bs-accordion-btn-focus-box-shadow: unset; /* Reset the box shadow to its default */
  --bs-accordion-active-color: unset; /* Reset the active color to its default */
  --bs-accordion-active-bg: unset; /* Reset the active background color to its default */
  /* Add any other overrides you need */
}
.vertical-timeline-element-date {
  color: black;

 
}
.spinner-border {
  background-color: transparent !important;
}
.nav-link {
  color: #000; /* Change this to your desired default font color */
}
.nav-tabs {
  border-color: #68577C; /* Change this to your desired border color */
  border-width: 5px; 
     /* Change this to your desired border thickness */
  /* You can also use 'border-style' property to set the line style (e.g., solid, dashed, etc.) */
}
