*{
  margin:0;
  padding:0;
}

@mixin align-center{
display:flex;
justify-content: center;
align-items: center;
}

body{
font-size:4em;
color:#FAF9F6;
background:grey center center fixed; 
background-size:cover;
scroll-behavior: smooth;
.parallax_wrapper::-webkit-scrollbar {
  display: none;
}
  .parallax_wrapper{
  height:100vh;
  overflow-x:hidden;
  overflow-y:auto;
  perspective:300px;
    .intro_screen{
      height:100vh;
      background-color: #E0A458;
      border:solid black 5px;
      border-radius:25px;

      @include align-center;
     }
    .outro_screen{
    height:100vh;
    background-color:#E0A458;
    border:solid black 5px;
      border-radius:25px;
    @include align-center;
     }
    .parallax_group{
    position:relative;
    height:100vh;
    transform-style:preserve-3d; 
      .parallax_layer{
        position:absolute;
        inset:0;
        @include align-center;
      }
      .base_layer{
        transform:translateZ(-300px)scale(2);
      }
      .mid_layer{
      transform:translateZ(0);
      }
      .top_layer{
        transform: translateZ(210px)scale(.31);
      }
     }
     #intro{
      z-index: 0;
     }

     #group-1{
      z-index: -1;
     }

     #group-1 >.base_layer{
      // background: url("/orangePaint.jpg") no-repeat center center fixed; 
      // background-size:cover;
      
      background-color: #FFD151;
      border:solid black 10px;
      
      
      border-radius:25px;
     }

     #group-2{
      color:#FAF9F6;
     }

     #group-2 >.mid_layer{
      background-color:#68577C;
      
      border:solid black 10px;
      border-radius:25px;
     }

     #outro{
      color:#FAF9F6;
     }

  }
}
